{% extends 'base.html' %}

{% block login-link %}
<li class="nav-item">
    <a class="nav-link active" href={% url 'login' %}>Login</a>
</li>
<li class="nav-item">
    <a class="nav-link" href={% url 'register' %}>Create Account</a>
</li>

{% endblock login-link %}

{% block login %}

<style>
  .form{
    margin: auto;
    margin-top: 50px;
    width: 60%;
  }
</style>

<div class="form">
<form  method="POST">
    {% csrf_token %}
<div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" aria-describedby="emailHelp" name='username' >
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name = 'password'>
  </div>
  {% if messages %}
    {% for message in messages %}
    {% if message.tags == "success" %} <div class="alert alert-success" role="alert"><strong>Congrats! </strong>{{message}}</div>{% endif %}
    {% if message.tags == "info" %}<div class="alert alert-warning" role="alert">{{message}}</div>{% endif %}
    {% endfor %}
    {% endif %}
  <button type="submit" class="btn btn-primary">Login</button>
</form>
</div>
  
{% endblock login %}